html{scroll-behavior: smooth;}

body{
    background: #1c191e;
    color: #eee;
    margin: 0;
    font-family:'Merriweather', Georgia, 'Times New Roman', Times, serif;
}

p, .navbar, #contact, .project-btn{
    font-family: 'Lexend', Verdana, Geneva, Tahoma, sans-serif;
}

header #title{
    font-size: 2rem;
    text-align: center;
    font-variant-caps: small-caps;
}

header, nav#top{
    background: #111;
    color: #eee;
    padding: .25rem 0;
}

nav#top{
    position: sticky;
    top: 0;
    border-bottom: solid 3px rgb(214, 71, 71);
    z-index: 2;
}

ul.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    font-size: 1.75em;
    margin: 0 10%;
    padding: 1rem 0;
}

.navbar li{margin: .5rem;}

@media screen and (min-width: 800px){
    ul.navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar li{margin: 0;}
}

.navbar a{
    padding: .5rem;
    border-radius: 5px;
    text-decoration: none;
    font-variant-caps: small-caps;
}

.navbar a:link{color: #eee;}
.navbar a:visited{color:#eee;}
.navbar a:focus{background: #575757; color: rgb(255, 255, 93);}
.navbar a:hover{background: #575757; color: rgb(255, 255, 93);}
.navbar a:active{background: #575757; color: rgb(255, 255, 93);}

main{
    margin: 0 10%;
    padding: 2rem 0;
    background-color: #1c191e;
}

blockquote{
    font-size: 2em;
    font-style: italic;
    text-align: center;
    padding: 1em;
    background: #dddddd;
    border-radius: 5px;
    margin: 1rem 0px
}

h2{
    font-size: 2.25rem;
    font-weight: normal;
    font-variant-caps: small-caps;
}

section{
    border-bottom: solid 1px #575757;
    padding-bottom: 1rem;
}

/* === PROJECTS SECTION === */

h3{
    margin: 1rem 0;
}

h3 a, #contact a{
    text-decoration: none;
    font-weight: normal;
    font-variant-caps: small-caps;
    font-size: 1.75rem;
}

h3 a:link, #contact a:link{color: #eee; }
h3 a:visited, #contact a:visited{color: #eee; }
h3 a:focus, #contact a:focus{color: #eee; text-decoration: underline; font-size: 1.9rem; }
h3 a:hover, #contact a:hover{color: #eee; text-decoration: underline; font-size: 1.9rem; }
h3 a:active, #contact a:active{color: #eee; text-decoration: underline; border: dotted 1px #eee; }

section#projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

div.project-group{
    margin-right: 2.5%;
}

image-slider img, image-slider video, image-slider iframe {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    max-width: 35rem;
    width: 35rem;
    height: 100%;
    z-index: 1;
}

.slide-contain{
    object-fit: contain;
}

.slide-contain-light{
    object-fit: contain;
    background-color: #dddddd;
}

.multiline {
    white-space: pre-line;
}

proj-desc a{
    color: white;
}

proj-desc a:hover{
    font-size: 1.1rem;
    color: white;
}

/* === RESUME SECTION === */

#resume{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#resume i{
    margin: 1rem .25rem 1rem 0;
    color: rgb(214, 71, 71);
    font-size: 1.5rem;
}

#resume p{
    margin: 0;
}

embed{
    position: relative;
    left: -9999px;
    height: 1vh;
}

@media screen and (min-width: 1425px){
    embed{
        position: static;
        align-self: center;
        width: 100%;
        height: 70vh;
        margin-bottom: 1rem;
    }
}

#resume a:link{color:#eee; text-decoration: none;}
#resume a:visited{color:#eee; text-decoration: none;}
#resume a:focus{color:#eee; text-decoration: underline;}
#resume a:hover{color:#eee; text-decoration: underline;}
#resume a:active{color:#eee; text-decoration: underline; border: dotted 1px #eee;}

/* === BIO SECTION === */

section#bio{
    display: grid;
    grid-template-rows: .5fr 1.5fr .5fr;
    grid-template-columns: 1fr;
    grid-template-areas: "about-me"
                         "image"
                         "contact";
}

#about-me-text{
    grid-area: about-me;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-right: 1rem;
    line-height: 1.5rem;
}

#bio-image{
    grid-area: image;
    justify-self: left;
    max-width: 400px;
    width: 100%;
    height: auto;
    border: solid 1px rgb(40,40,40);
    box-shadow: 3px 3px 3px #111;
}

#contact{
    grid-area: contact;
    justify-self: center;
    width: 100%;
    font-size: 1.5rem;
}

#contact-list{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#contact-list i{margin: 1rem;}

@media screen and (min-width: 1050px)
{
    section#bio{
        grid-template-rows: .5fr 2fr;
        grid-template-columns: 1fr .6fr;
        grid-template-areas: "about-me about-me"
                             "image    contact";
    }

    #contact{
        position: relative;
        top: 20%;
    }
}

@media screen and (min-width: 1250px)
{
    section#bio{
        grid-template-rows: 1fr .1fr;
        grid-template-columns: 1fr .5fr;
        grid-template-areas: "about-me image"
                             "contact  contact";
    }

    #bio-image{
        grid-area: image;
        justify-self: right;
    }

    #contact{position: static;}
}
